@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-shape-divider-bottom-1724074222 {
    
    
    margin-bottom:0 ;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1724074222 svg {
    
    display: block;
    width: calc(118% + 1.3px);
    height: 270px;
}

.custom-shape-divider-bottom-1724074222 .shape-fill {
    fill: #1f2937;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1724074222 svg {
        width: calc(139% + 1.3px);
        height: 200px;
        
        
    }
}

html{
    scroll-behavior: smooth;
}


/* Lets connect button */ 
.button-hero {
    background-color: #facc15;
    border: 1px solid #000000;
    padding: 5px;
    position: relative;
    width: 8.5em;
    height: 2em;
    transition: 0.5s;
    font-size: 22px;
    border-radius: 0.4em;
  }
  
  .button-hero p {
    position: absolute;
    top: 0.2em;
    left: 1.15em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #030303;
  }
  
  .button-hero svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff
  }
  
  .button-hero:hover p {
    left: 0.5em;
    color: #fff
  }
  
  .button-hero:hover svg {
    opacity: 1;
  }
  
  .button-hero:hover {
    background-color: #25D366;
  }
  